.section-card {
  align-items: center;
  background-color: #637dc2;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.404);
  color: #ffffff;
  display: flex;
  gap: 12px;
  padding: 26px;
  height: 350px;
  width: 610px;
}

.section-card h1 {
  color: #433a3a;
  font-size: 120px;
  word-break: break-all;
  width: 200px;
}

.section-card p {
  font-size: 14px;
  font-weight: 300;
  width: 340px;
  margin: 6px 0 0 8px;
}

.section-card p:nth-child(1) {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
}
