@import './scss/_variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $black-theme;
  font-family: 'Kumbh Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
