// Colors
$black-theme: #222222;
$black-light: #433a3a;
$gray-light: #545454;
$gray-dark: #3e3e3e;
$green-light: #42b875;
$green-dark: #207e75;
$white: #ffffff;
// Spacings
$space-medium: 16px;

// Others
